@font-face {
    font-family: "Cafe24Ssurround";
    src: url("./Cafe24Ssurround.eot") format("embedded-opentype");
}
  
@font-face {
    font-family: "MBC1961굴림";
    src: url("./MBC1961굴림.eot") format("embedded-opentype");
}
  